.valid{
    background-color: ivory;
  border: none;
  outline: 2px solid deepskyblue;
  border-radius: 5px;
  accent-color: gold;
}

.invalid{
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
    accent-color: gold;
}